body {
  margin-top: 20px;
}

.navbar-inverse .navbar-brand {
  font-family: "Pacifico";
  font-size: 20px;
  color: white;
  padding-top: 15px;
}

h1 {
  font-family: "Pacifico";
  font-size: 20px;
}

h2 {
  font-family: Arial;
  font-size: 20px;
}

#name {
  font-family: "Pacifico";
  font-size: 30px;
}
